global:
    envFrom:
        - secretRef:
            name: authentik-secrets
authentik:
    error_reporting:
        enabled: false
        send_pii: false

server:
    ingress:
        enabled: true
        ingressClassName: traefik
        hosts:
            - auth.geeklabs.dev