authentik:
    error_reporting:
        enabled: false
        send_pii: false
    postgresql:
        password: file:///postgres-creds/password

server:
    ingress:
        enabled: true
        ingressClassName: traefik
        hosts:
            - auth.geeklabs.dev
    volumes:
        - name: postgres-creds
          secret:
            secretName: authentik-postgres-credentials
    volumeMounts:
        - name: postgres-creds
          mountPath: /postgres-creds
          readOnly: true

worker:
    volumes:
        - name: postgres-creds
          secret:
            secretName: authentik-postgres-credentials
    volumeMounts:
        - name: postgres-creds
          mountPath: /postgres-creds
          readOnly: true

postgresql:
    enabled: true
    auth:
      username: authentik
      database: authentik
      existingSecret: authentik-postgres-credentials