---
config:
  oidc:
    secret:
      create: false
      name: headlamp-oidc

ingress:
  enabled: true
  ingressClassName: traefik
  tls:
    - hosts:
        - dash.geeklabs.dev
  hosts:
    - host: dash.geeklabs.dev
      paths:
        - path: /
          type: Prefix