---
config:
  oidc:
    secret:
      create: false
    externalSecret:
      enabled: true
      name: headlamp-oidc
  pluginsDir: /build/plugins

env:
  - name: OIDC_CLIENT_ID
    valueFrom:
      secretKeyRef:
        name: headlamp-oidc
        key: clientID
  - name: OIDC_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        name: headlamp-oidc
        key: clientSecret
  - name: OIDC_ISSUER_URL
    valueFrom:
      secretKeyRef:
        name: headlamp-oidc
        key: issuerURL
  - name: OIDC_SCOPES
    valueFrom:
      secretKeyRef:
        name: headlamp-oidc
        key: scopes

initContainers:
  - command:
      - /bin/sh
      - '-c'
      - mkdir -p /build/plugins && cp -r /plugins/* /build/plugins/
    image: ghcr.io/kubebeam/trivy-headlamp-plugin:v0.3.1
    name: trivy-plugin
    volumeMounts:
      - mountPath: /build/plugins
        name: headlamp-plugins
volumeMounts:
  - name: headlamp-plugins
    mountPath: /build/plugins
volumes:
  - name: headlamp-plugins
    emptyDir: {}

ingress:
  enabled: true
  ingressClassName: traefik
  tls:
    - hosts:
        - dash.geeklabs.dev
  hosts:
    - host: dash.geeklabs.dev
      paths:
        - path: /
          type: Prefix